// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Manrope', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$gray-600: #ccc;
$gray-560: #e6e6e6;
$gray-500: #e5e5e5;
$gray-700: #b2b2b2;
$gray-800: #b3b3b3;

$black: #000;
$black-bg: #020f1e;
$lightblue-200: #2da6dd;
$lightblue-350: #17a2ff;
$lightblue-text: #a6d2f2;
$blue-650: #035a95;
$blue-350: #0d3959;
$red-300: #ea384c;
