.header {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 40px;
	max-height: $header-height;
	&-wrapper {
		position: relative;
		@include flex(row, stretch, space-between);
	}
	&-mobile .header-wrapper {
		display: flex;
		justify-content: flex-end;
	}
	&_active {
		background: $primary-color;
		max-height: none;
		& .header-wrapper {
			padding-bottom: 20px;
			&::before {
				pointer-events: none;
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				width: 100vw;
				height: 40px;
				background: linear-gradient(to bottom, $primary-color, rgba($primary-color, 0));
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		&_active {
			& .header-wrapper {
				&::before {
					height: 25px;
				}
			}
		}
	}
}
