.header {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 40px;
	max-height: $header-height;
	&-wrapper {
		@include flex(row, stretch, space-between);
	}
	&_active {
		background: $primary-color;
		padding-bottom: 20px;
		max-height: none;
	}
}
