// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Manrope', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$gray-600: #ccc;
$gray-560: #e6e6e6;
$gray-500: #e5e5e5;
$gray-700: #b2b2b2;
$gray-800: #b3b3b3;

$black: #000;
$black-bg: #020f1e;
