// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Trap', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Container variables
$container-padding-xl: calc((100% - 1264px) / 2);
$container-padding-lg: calc((100% - 912px) / 2);
$container-padding-md: calc((100% - 672px) / 2);
$container-padding-sm: calc((100% - 492px) / 2);

$container-minus-padding-xl: calc((100% - 1264px) / -2);
$container-minus-padding-lg: calc((100% - 912px) / -2);
$container-minus-padding-md: calc((100% - 672px) / -2);
$container-minus-padding-sm: calc((100% - 492px) / -2);

// Header and menu variables
$header-height: 78px;
$menu-height: calc(100vh - 78px);

// Colors
$white: #fff;
$gray-600: #ccc;
$gray-560: #e6e6e6;
$gray-500: #e5e5e5;
$gray-700: #b2b2b2;
$gray-800: #b3b3b3;
$success: #5fefa1;
$error: #ff7676;
$primary-color: #0d08ff;

$black: #000;
$black-bg: #020f1e;
