.contact-modal {
	&__wrapper {
		padding-top: 200px;
		padding-bottom: 80px;
	}
	&__title {
		margin-bottom: 88px;
	}
	&__form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 56px 24px;
		margin-bottom: 164px;
	}
	&__submit {
		&-wrapper {
			text-align: center;
			grid-column: span 2;
		}
	}
	&__textline {
		overflow: hidden;
		max-width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.contact-modal {
		&__wrapper {
			padding-top: 128px;
			padding-bottom: 96px;
		}
		&__title {
			margin-bottom: 48px;
			& .title {
				@include font(4rem, calc(44 / 40));
			}
		}
		&__form {
			grid-template-columns: 100%;
			grid-gap: 48px;
			margin: 0;
		}
		&__submit {
			&-wrapper {
				grid-column: span 1;
			}
		}
		&__textline {
			display: none;
		}
	}
}
