.experience {
	background: $white;
	top: 0;
	position: relative;
	&-wrapper {
		padding: 144px 0;
	}
}

@media screen and (max-width: 991px) {
	.experience {
		&-wrapper {
			padding: 130px 0;
			& p {
				text-align: center;
			}
		}
	}
}
