.hero {
	position: relative;
	padding-top: 310px;
	max-width: 100vw;
	overflow: hidden;
	&-title {
		margin-bottom: 48px;
		padding-left: $container-padding-xl;
		padding-right: $container-padding-xl;
		position: relative;
		&__wrapper {
			margin-left: -14px;
			position: relative;
			padding: 0 15px;
			background: $primary-color;
			z-index: 1;
			max-width: max-content;
			& .title {
				display: inline-block;
			}
		}
		&_animated {
			position: absolute;
			left: 0;
			top: 0;
			white-space: nowrap;
			&-mobile {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 1420px) {
	.hero {
		&-title {
			padding-left: $container-padding-lg;
			padding-right: $container-padding-lg;
		}
	}
}

@media screen and (max-width: 991px) {
	.hero {
		padding-top: 190px;
		&-title {
			padding-left: $container-padding-md;
			padding-right: $container-padding-md;
			text-align: center;
			&_animated {
				&-mobile {
					display: block;
				}
			}
			&__wrapper {
				padding: 0 6px;
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.hero {
		&-title {
			padding-left: $container-padding-sm;
		}
	}
}

@media screen and (max-width: 576px) {
	.hero {
		&-title {
			padding-left: 24px;
		}
	}
}
