.hero {
  position: relative;
  padding-top: 310px;
  padding-bottom: 144px;
  max-width: 100vw;
  overflow: hidden;

  &-title {
    margin-bottom: 100px;
    padding-left: $container-padding-xl;
    padding-right: $container-padding-xl;
    position: relative;

    &__wrapper {
      overflow: hidden;
      height: 200px;
      margin-left: -14px;
      position: relative;
      padding: 0 15px;
      background: $primary-color;
      z-index: 1;
      max-width: max-content;

      & .title {
        display: inline-block;
      }
    }

    &_animated {
      position: absolute;
      left: 0;
      top: 0;
      white-space: nowrap;

      &-mobile {
        display: none;
      }
    }
  }

  &-text {
    margin-bottom: 106px;
    padding-right: 20px;

    & .text-block {
      max-width: 484px;
      margin-left: auto;

      & p {
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .hero {
    &-title {
      padding-left: $container-padding-lg;
      padding-right: $container-padding-lg;
    }
  }
}

@media screen and (max-width: 991px) {
  .hero {
    padding-top: 190px;

    &-text {
      padding: 0;
      margin-bottom: 88px;

      & .text-block {
        margin: 0 auto;
        max-width: 327px;

        & p {
          text-align: center;
        }
      }
    }

    &-title {
      padding-left: $container-padding-md;
      padding-right: $container-padding-md;
      text-align: center;
      margin-bottom: 30px;

      &_animated {
        &-mobile {
          display: block;
        }
      }

      &__wrapper {
        padding: 0 6px;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    &-title {
      padding-left: $container-padding-sm;
      padding-right: $container-padding-sm;
    }
  }
}

@media screen and (max-width: 576px) {
  .hero {
    &-title {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
