.home-banner {
	position: relative;
	height: 100vh;
	//margin-bottom: 600px;
	&__block {
		height: 100vh;
		max-height: inherit;
		position: relative;
		overflow: hidden;
	}
	&__bottom {
		position: absolute;
		width: 100%;
		height: 44%;
		bottom: 0;
		left: 0;
		background: $primary-color;
	}
	& img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
}

@media screen and (max-width: 991px) {
	.home-banner {
		max-height: 811px;
		&__block {
			height: auto;
		}
		&__bottom {
			display: none;
		}
	}
}
