.input {
	width: 100%;
	@include font(3.2rem, calc(40 / 32));
	font-weight: 500;
	padding: 0;
	background: transparent;
	padding-bottom: 0.5em;
	color: $white;
	&::placeholder {
		@include font(3.2rem, calc(40 / 32));
		color: $white;
	}
	&-wrapper {
		position: relative;
		border-bottom: 4px solid $white;
		@include flex(column);
		&_long {
			grid-column: span 2;
		}
	}
	&-error {
		position: absolute;
		left: 0;
		top: calc(100% + 8px);
		display: inline-block;
		@include font(1.4rem, calc(22 / 14));
		color: $error;
		font-weight: 500;
	}
}

@media screen and (max-width: 991px) {
	.input {
		@include font(2.4rem, calc(32 / 24));
		padding-bottom: 0.6667em;
		&::placeholder {
			@include font(2.4rem, calc(32 / 24));
		}
		&-wrapper {
			&_long {
				grid-column: span 1;
			}
		}
	}
}
