.latest-projects {
	&-wrapper {
		padding: 224px 0 240px;
	}
	&-header {
		display: grid;
		grid-template-columns: 1fr 405px;
		align-items: end;
		margin-bottom: 128px;
		&__count {
			padding-bottom: 36px;
			& p {
				position: relative;
				padding-bottom: 18px;
				&::before {
					@include before(0, 100%, 4px);
					transform: none;
					top: auto;
					bottom: 0;
					background: $white;
				}
			}
		}
	}
	&-scroll {
		margin-bottom: 104px;
		position: relative;
		display: block;
		&__wrapper {
			position: relative;
			display: grid;
			grid-template-columns: 3.81fr 8.35fr;
			grid-gap: 48px;
		}
		&__image {
			position: sticky;
			top: 100px;
			height: 100%;
			max-height: 626px;
			& > div {
				position: relative;
				width: 100%;
				height: 100%;
			}
			& .img-wrapper {
				position: absolute;
				top: 0;
				right: 0;
				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		&__pagination {
			display: none;
			margin-top: 32px;
			position: relative;
			left: 0;
			grid-gap: 8px;
			& .pagination-tab {
				display: block;
				width: 100%;
				height: 2px;
				background: rgba($white, 0.3);
				&_active {
					background: $white;
				}
			}
		}
		&__content {
			@include flex(column, flex-start, space-between);
			min-height: 2500px;
			& .text-block {
				@include flex(column);
				&:last-child {
					margin-bottom: 0;
				}
			}
			& .chapter {
				font-weight: 700;
				display: inline-block;
				margin-bottom: 16px;
			}
			& .title {
				margin-bottom: 14px;
			}
			& p:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	&-slider {
		display: none;
		margin-bottom: 104px;
		position: relative;
		&__wrapper {
			display: grid;
			grid-template-columns: 3.81fr 8.35fr;
			grid-gap: 48px;
			align-items: center;
			display: none;
			& .swiper {
				max-width: 100%;
			}
			& .swiper-slide {
				background: $primary-color;
			}
		}
		&__pagination {
			display: none;
			margin-top: 32px;
			position: relative;
			left: 0;
			grid-gap: 8px;
			& .swiper-pagination-bullet {
				display: block;
				width: 100%;
				height: 2px;
				background: rgba($white, 0.3);
				transition: background 0.3s;
				&-active {
					background: $white;
				}
			}
		}
		&__content {
			margin-top: 28px;
			& .text-block {
				@include flex(column);
			}
			& .chapter {
				font-weight: 700;
				display: inline-block;
				margin-bottom: 16px;
			}
			& .title {
				margin-bottom: 14px;
			}
			& p:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	&__link {
		text-align: center;
	}
}

@media screen and (max-width: 991px) {
	.latest-projects {
		&-wrapper {
			padding: 144px 0;
		}
		&-scroll {
			display: none;
		}
		&-slider {
			display: block;
			margin-bottom: 56px;
			&__wrapper {
				display: grid;
				grid-template-columns: 100%;
				grid-gap: 28px;
			}
			&__pagination {
				display: flex;
			}
			&__content {
				& .chapter {
					@include font(1.6rem, calc(24 / 16));
					margin-bottom: 6px;
				}
			}
		}
		&-header {
			margin-bottom: 64px;
			grid-template-columns: 100%;
			grid-gap: 40px;
			&__count {
				padding-bottom: 0;
				& p {
					padding-bottom: 16px;
					&::before {
						height: 2px;
					}
				}
			}
		}
	}
}
