.link {
	position: relative;
	&:hover::before {
		@include before(0, 100%, 1px);
		background: $white;
		top: auto;
		transform: none;
		bottom: 5px;
	}
	&:active {
		opacity: 0.3;
	}
	&-primary {
		@include font(2.8rem, calc(32 / 28));
		display: inline-block;
		color: $white;
		position: relative;
		letter-spacing: -0.02em;
		font-weight: 700;
		text-decoration: none;
		&::before {
			@include before(0, 100%, 2px);
			background: $white;
			top: auto;
			transform: none;
			bottom: 4px;
		}
		&:hover {
			&::before {
				content: none;
			}
		}
		&:active {
			opacity: 0.5;
		}
		&.text_blue {
			color: $primary-color;
			&::before {
				background: $primary-color;
			}
		}
	}
	&-arrow {
		display: inline-block;
		color: $white;
		position: relative;
		@include font(2.8rem, calc(36 / 28));
		letter-spacing: -0.02em;
		font-weight: 700;
		text-decoration: none;
		padding-right: 42px;
		&::before {
			@include before(0, calc(100% - 42px), 2px);
			background: $white;
			top: auto;
			transform: none;
			bottom: 2px;
		}
		&::after {
			@include after(0, 22px, 22px);
			background: icon('arrow-white-right.svg') no-repeat 50% / cover;
		}
		&:hover {
			&::before {
				content: none;
			}
		}
		&:active {
			opacity: 0.5;
		}
	}
}

@media screen and (max-width: 991px) {
	.link {
		&-primary {
			@include font(1.8rem, calc(26 / 18));
			&::before {
				bottom: 6px;
				height: 1px;
			}
		}
		&-arrow {
			@include font(1.8rem, calc(26 / 18));
			padding-right: 32px;
			&::before {
				width: calc(100% - 32px);
				height: 1px;
				bottom: 6px;
			}
			&::after {
				@include after(0, 16px, 16px);
				background: icon('arrow-white-right-mobile.svg') no-repeat 50% / cover;
			}
		}
	}
}
