.text {
	&-block {
		& p {
			margin: 0;
			color: $white;
			letter-spacing: -0.02em;
			@include font(1.6rem, calc(24 / 16));
		}
	}
	&_size {
		&-xl,
		&-xl p {
			font-weight: 500;
			@include font(5.8rem, calc(68 / 58));
		}
		&-l,
		&-l p {
			@include font(4.8rem, calc(56 / 48));
		}
		&-s,
		&-s p {
			@include font(2rem, calc(28 / 20));
		}
		&-xs,
		&-xs p {
			@include font(1.6rem, calc(24 / 16));
		}
	}
	&_blue {
		color: $primary-color;
		& p {
			color: $primary-color;
		}
	}
}

@media screen and (max-width: 991px) {
	.text {
		&-block {
			& p {
				@include font(1.4rem, calc(22 / 14));
			}
		}
		&_size {
			&-xl,
			&-xl p {
				@include font(2rem, calc(28 / 20));
			}
			&-s,
			&-s p {
				@include font(1.4rem, calc(22 / 14));
			}
		}
	}
}
