// Base
$base-path: '../';

// Fonts
$font-stack-manrope: "Manrope", "Arial", sans-serif;
$font-stack-arial: "Arial", sans-serif;

// Colors
$neutral-white: #FFF;
$neutral-white-01: rgba(255, 255, 255, 0.1);
$neutral-black: #000;
$neutral-black-01: rgba(0, 0, 0, 0.1);

$basic-blue: #009FE3;
$basic-blue-200: #4285F4;
$basic-blue-300: #1976D2;
$basic-green: #4CAF50;
$basic-green-200: #34A853;
$basic-red: #EA4335;
$basic-red-200: #FC3F1D;
$basic-red-400: #FF3D00;
$basic-yellow: #FBBC05;
$basic-yellow-200: #FFC107;